In [1]:
import pandas as pd #pandas

In [2]:
import numpy as np #numpy

In [3]:
import matplotlib.pyplot as pt # matplotlib

In [4]:
df = pd.read_csv('/home/shahram/Desktop/Ml-AI/faradars.csv') # for read file
df

,code,name,rating,n_rating,price,hours,count
0,FD-101,C++,4.6,720,980,20,44000
1,FD-102,Python with practical examples,4.6,611,840,13,38000
2,FD-103,Python for teenagers_part1,4.7,147,114,7,2700
3,FD-104,Python for teenagers_part2,4.9,20,1090,7,1000
4,FD-105,Additional Python- Code Optimization,4.6,43,1180,13,4700
5,FD-106,JavaScript_Introductory to advanced,4.4,116,990,9,19000
6,FD-107,Assembly language programming,4.5,36,1080,10,5000
7,FD-108,Qt Framework for C++,4.3,44,1080,9,3500
8,FD-109,Data structures,4.6,166,980,10,18000
9,FD-110,Data structures with C++,4.6,65,1280,23,6000
10,FD-111,Data structures with Python,4.7,69,980,11,3500
11,FD-112,Advanced Data structures,5.0,3,513,8,2000
12,FD-113,Object-oriented programming in Python,4.7,95,1080,7,9000
13,FD-114,Advanced C++ Programming - Object Orientation,4.8,100,990,8,16000
14,FD-115,Numpy_matplotlib,4.7,17,1590,5,1000
15,FD-116,Data analysis and preparation with Python,4.5,66,1080,10,6000
16,FD-117,Mathematics for machine learning with Python,4.7,86,1080,8,2500
17,FD-118,Machine Learning with Python_part1,4.6,179,1080,17,12000
18,FD-119,Machine Learning with Python_part2,4.6,53,1080,11,8500
19,FD-120,Algorithm design,4.4,22,1180,8,5800
20,FD-121,Databases,4.6,178,980,8,18000
21,FD-122,Operating system,4.6,170,980,11,13000
22,FD-123,Software engineering,4.1,34,1180,12,4500

In [5]:
# df = df.drop(columns=['name']) # for deletin columns
# df = df.drop(columns=['name', 'hours']) # for deletig group

In [6]:
# df.head() # give me 5 top first

In [7]:
# df.tail() # give me 5 last data

In [8]:
# df.info() # for more information # sting=object

In [9]:
df.describe() # for more information اماری # std انحراف معیار

          rating    n_rating        price      hours         count
count  23.000000   23.000000    23.000000  23.000000     23.000000
mean    4.600000  132.173913  1017.695652  10.652174  10595.652174
std     0.188294  177.757407   271.306843   4.302311  11172.428655
min     4.100000    3.000000   114.000000   5.000000   1000.000000
25%     4.550000   39.500000   980.000000   8.000000   3500.000000
50%     4.600000   69.000000  1080.000000  10.000000   6000.000000
75%     4.700000  156.500000  1085.000000  11.500000  14500.000000
max     5.000000  720.000000  1590.000000  23.000000  44000.000000

In [10]:
pd.options.display.float_format = '{:.1f}'.format # for change format to show

In [11]:
# df.describe()

In [12]:
df[['name','hours']] # seton khas

                                             name  hours
0                                             C++     20
1                  Python with practical examples     13
2                      Python for teenagers_part1      7
3                      Python for teenagers_part2      7
4            Additional Python- Code Optimization     13
5             JavaScript_Introductory to advanced      9
6                   Assembly language programming     10
7                            Qt Framework for C++      9
8                                 Data structures     10
9                        Data structures with C++     23
10                    Data structures with Python     11
11                       Advanced Data structures      8
12          Object-oriented programming in Python      7
13  Advanced C++ Programming - Object Orientation      8
14                               Numpy_matplotlib      5
15      Data analysis and preparation with Python     10
16   Mathematics for machine learning with Python      8
17             Machine Learning with Python_part1     17
18             Machine Learning with Python_part2     11
19                               Algorithm design      8
20                                      Databases      8
21                               Operating system     11
22                           Software engineering     12

In [13]:
df.iloc[0:3] # satr kas

,code,name,rating,n_rating,price,hours,count
0,FD-101,C++,4.6,720,980,20,44000
1,FD-102,Python with practical examples,4.6,611,840,13,38000
2,FD-103,Python for teenagers_part1,4.7,147,114,7,2700

In [14]:
# df['rating'] > 4.5 # give series
df[df['rating'] > 4.5]

,code,name,rating,n_rating,price,hours,count
0,FD-101,C++,4.6,720,980,20,44000
1,FD-102,Python with practical examples,4.6,611,840,13,38000
2,FD-103,Python for teenagers_part1,4.7,147,114,7,2700
3,FD-104,Python for teenagers_part2,4.9,20,1090,7,1000
4,FD-105,Additional Python- Code Optimization,4.6,43,1180,13,4700
8,FD-109,Data structures,4.6,166,980,10,18000
9,FD-110,Data structures with C++,4.6,65,1280,23,6000
10,FD-111,Data structures with Python,4.7,69,980,11,3500
11,FD-112,Advanced Data structures,5.0,3,513,8,2000
12,FD-113,Object-oriented programming in Python,4.7,95,1080,7,9000
13,FD-114,Advanced C++ Programming - Object Orientation,4.8,100,990,8,16000
14,FD-115,Numpy_matplotlib,4.7,17,1590,5,1000
16,FD-117,Mathematics for machine learning with Python,4.7,86,1080,8,2500
17,FD-118,Machine Learning with Python_part1,4.6,179,1080,17,12000
18,FD-119,Machine Learning with Python_part2,4.6,53,1080,11,8500
20,FD-121,Databases,4.6,178,980,8,18000
21,FD-122,Operating system,4.6,170,980,11,13000