In [1]:
import pandas as pd #pandas

In [2]:
import numpy as np #numpy

In [3]:
import matplotlib.pyplot as pt

In [4]:
course = {
    'code' :['c100', 'py100'],
    'name' : ['c++', 'python'],
    'rating' : [4.8, 4.9],
    'price' :[100, 200]
}

In [5]:
df = pd.DataFrame(course) #convert to datafram

In [6]:
df # print

    code    name  rating  price
0   c100     c++     4.8    100
1  py100  python     4.9    200

In [7]:
df.to_csv('/home/shahram/Desktop:f.csv', index=False) # for save

In [8]:
x = pd.read_csv('/home/shahram/Desktop:f.csv') # for read file

In [9]:
x

    code    name  rating  price
0   c100     c++     4.8    100
1  py100  python     4.9    200