In [1]:
import pandas as pd #pandas

In [2]:
import numpy as np #numpy

In [3]:
import matplotlib.pyplot as pt

In [4]:
course = {
    'code' :['c100', 'py100'],
    'name' : ['c++', 'python'],
    'rating' : [4.8, 4.9],
    'price' :[100, 200]
}

In [5]:
df = pd.DataFrame(course) #convert to datafram

In [6]:
df # print

    code    name  rating  price
0   c100     c++     4.8    100
1  py100  python     4.9    200

In [7]:
df.to_csv('/home/shahram/Desktop:f.csv', index=False) # for save

In [8]:
x = pd.read_csv('/home/shahram/Desktop/Ml-AI/faradars.csv') # for read file

In [9]:
x

,code,name,rating,n_rating,price,hours,count
0,FD-101,C++,4.6,720,980,20,44000
1,FD-102,Python with practical examples,4.6,611,840,13,38000
2,FD-103,Python for teenagers_part1,4.7,147,114,7,2700
3,FD-104,Python for teenagers_part2,4.9,20,1090,7,1000
4,FD-105,Additional Python- Code Optimization,4.6,43,1180,13,4700
5,FD-106,JavaScript_Introductory to advanced,4.4,116,990,9,19000
6,FD-107,Assembly language programming,4.5,36,1080,10,5000
7,FD-108,Qt Framework for C++,4.3,44,1080,9,3500
8,FD-109,Data structures,4.6,166,980,10,18000
9,FD-110,Data structures with C++,4.6,65,1280,23,6000
10,FD-111,Data structures with Python,4.7,69,980,11,3500
11,FD-112,Advanced Data structures,5.0,3,513,8,2000
12,FD-113,Object-oriented programming in Python,4.7,95,1080,7,9000
13,FD-114,Advanced C++ Programming - Object Orientation,4.8,100,990,8,16000
14,FD-115,Numpy_matplotlib,4.7,17,1590,5,1000
15,FD-116,Data analysis and preparation with Python,4.5,66,1080,10,6000
16,FD-117,Mathematics for machine learning with Python,4.7,86,1080,8,2500
17,FD-118,Machine Learning with Python_part1,4.6,179,1080,17,12000
18,FD-119,Machine Learning with Python_part2,4.6,53,1080,11,8500
19,FD-120,Algorithm design,4.4,22,1180,8,5800
20,FD-121,Databases,4.6,178,980,8,18000
21,FD-122,Operating system,4.6,170,980,11,13000
22,FD-123,Software engineering,4.1,34,1180,12,4500